* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #080E24;
}

@keyframes circle1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sec1_main {
    background-color: #FFCC33;
    width: 45px;
    height: 45px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 50px #c90;
}

.sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
    border-radius: 50%;
    border: 2px solid #394057;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.sec1 { width: 110px; height: 110px; }
.sec2 { width: 170px; height: 170px; }
.sec3 { width: 235px; height: 235px; }
.sec4 { width: 301px; height: 301px; }
.sec5 { width: 367px; height: 367px; }
.sec6 { width: 433px; height: 433px; }

.c1, .c2, .c3, .c4, .c5, .c6 {
    width: 100%;
    height: 100%;
    animation: circle1 linear infinite;
}

.c1 { animation-duration: 5s; }
.c2 { animation-duration: 10s; }
.c3 { animation-duration: 15s; }
.c4 { animation-duration: 20s; }
.c5 { animation-duration: 30s; }
.c6 { animation-duration: 50s; }

.row1c1, .row2c2, .row3c3, .row4c4, .row5c5, .row6c6 {
    border-radius: 50%;
    position: relative;
}

.row1c1 {
    width: 10px;
    height: 10px;
    background-color: blue;
    top: 27px;
}

.row2c2 {
    width: 10px;
    height: 10px;
    background-color: #b6bac5;
    top: 48px;
}

.row3c3 {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Earth */
.earth {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 132, 255);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 110px;
    transform: translate(-50%, -50%);
}

/* Moon orbit container */
.moonOrbit {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 110px;
    transform: translate(-50%, -50%);
}

/* Moon rotation */
.moonRotation {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: circle1 4s linear infinite;
    position: relative;
}

/* The Moon */
.moon {
    width: 5px;
    height: 5px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0);
}

.row4c4 {
    width: 10px;
    height: 10px;
    background-color: #aa4200;
    top: 105px;
}

.row5c5 {
    width: 10px;
    height: 10px;
    background-color: #e0ae6f;
    top: 133px;
}

.row6c6 {
    width: 10px;
    height: 10px;
    background-color: #dfd3a9;
    top: 162px;
    position: relative;
}

/* Saturn ring */
.row6c6::before {
    content: "";
    position: absolute;
       width: 22px;
    height: 2px;
    border: 3px solid #5a4e34;
    border-radius: 50%;
    top: 1px;
    left: -9px;
    transform: rotate(25deg);
}
